---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>WELCOME TO ABOUT</h1>

    <ul role="list" class="link-card-grid">
      <Card href="/" title="HOME" body="" />
    </ul>
  </main>
</Layout>
