---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main id="home" x-data="home" x-init="init">
    <h1 class="title">WELCOME TO INDEX</h1>

    <ul role="list" class="link-card-grid">
      <Card href="/about" title="ABOUT" body="" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  ul {
    padding: unset;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>

<script>
  //@ts-nocheck

  document.addEventListener("alpine:init", () => {
    Alpine.data("home", () => ({
      init() {
        console.log("SALUT");
        animate(
          "#home h1",
          { transform: ["translateX(0%)", "translateX(-50%)"] },
          { duration: 16, easing: "linear", repeat: Infinity }
        );
      },
    }));
  });
</script>
