---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main id="home" x-data="test">
    <h1 class="title">WELCOME TO INDEX</h1>

    <ul role="list" class="link-card-grid">
      <Card href="/about" title="ABOUT" body="" />
    </ul>
  </main>
</Layout>

<script>
  //@ts-nocheck

  document.addEventListener("alpine:init", () => {
    Alpine.data("test", () => ({
      init() {
        const title = document.querySelector("#home h1");
        title.classList.add("hoverable");
        let animation = animate(
          "#home h1",
          { rotate: 360 },
          { duration: 16, easing: "linear", repeat: Infinity, autoplay: false }
        );

        title.addEventListener("mouseenter", () => {
          animation.play();
        });

        title.addEventListener("mouseleave", () => {
          animation.pause();
        });
      },
    }));
  });
</script>
