---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="swup" class="transition-fade">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }

  main {
    color: white;
  }
  ul {
    padding: unset;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  #home {
    h1 {
      color: red;
      outline: 1px solid red;
      &::after {
        content: "error";
        font-size: 12px;
        margin-left: 20px;
      }
      &.hoverable {
        cursor: pointer;
        color: #00ff99;
        outline: 1px solid #00ff99;
        &::after {
          content: "hover me";
          font-size: 12px;
          margin-left: 20px;
        }
      }
    }
  }

  /* Define a transition duration during page visits */
  html.is-changing .transition-fade {
    transition: all 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }
</style>

<script>
  //@ts-nocheck
  import Swup from "swup";
  import SwupHeadPlugin from "@swup/head-plugin";
  import SwupScriptsPlugin from "@swup/scripts-plugin";

  import Alpine from "alpinejs";
  import { animate, scroll, timeline } from "motion";

  window.swup = new Swup({
    plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin()],
  });

  window.Alpine = Alpine;
  window.animate = animate;
  window.scroll = scroll;
  window.timeline = timeline;

  Alpine.start();
</script>
