---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="swup" class="transition-fade">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  /* Define a transition duration during page visits */
  html.is-changing .transition-fade {
    transition: all 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
    scale: 0.95;
    transform-origin: top;
  }
</style>

<script>
  //@ts-nocheck
  import Swup from "swup";
  import SwupHeadPlugin from "@swup/head-plugin";
  import Alpine from "alpinejs";
  import { animate, scroll, timeline } from "motion";

  window.swup = new Swup({
    plugins: [new SwupHeadPlugin()],
  });

  window.Alpine = Alpine;
  window.animate = animate;
  window.scroll = scroll;
  window.timeline = timeline;

  Alpine.start();
</script>
